body {
  font-family: "Quicksand", sans-serif;
  background-color: hsla(184, 43%, 57%, 0.75);
  margin:0%;
  padding: 5px;
}
.pageTitle{
  font-size: 24px;
  text-align: left;
  padding: 5px;
}
a:link {
  color: grey;
  text-decoration: none;
}
a:visited { 
  color: grey;
  text-decoration: none;
}
a:hover {
  color: grey;
}
a:active {
  color: grey;
  text-decoration: none;
}

.border{
        background-color: hsla(184, 43%, 57%, 0.75);
        height: 75px;
        margin:0%;
        color: white;
        padding: 5px;
        text-align: left;
        font-size: 12px;
}      

.circle {
  float: left;
  padding: 5px;
  vertical-align: bottom;
}

.label {
  float: left;
  padding: 5px;
  vertical-align: top;
}

path {
  stroke-width: 1px;
  stroke: white;
  fill: #008080;
  cursor: pointer;
}

path:hover, path.highlighted {
  fill: #ff8000;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}
