body {
  font-family: "Quicksand", sans-serif;
  background-color: hsla(184, 43%, 57%, 0.75);
  margin:0%;
  padding: 5px;
}
.pageTitle{
  font-size: 24px;
  text-align: left;
  padding: 5px;
  float:left;
}
a:link {
  color: grey;
  text-decoration: none;
  padding: 5px;
}
a:visited { 
  color: grey;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  color: grey;
  padding: 5px;
}
a:active {
  color: grey;
  text-decoration: none;
  padding: 5px;
}

.border{
        background-color: hsla(184, 43%, 57%, 0.75);
        height: 100px;
        margin:0%;
        color: white;
        padding: 5px;
        text-align: left;
        font-size: 16px;
}      
.navbar{
   float:right;
   font-size: 16px;
   vertical-align: top;
   float:right;
}
.circle {
  float: left;
  padding: 5px;
  vertical-align: bottom;
}

.label {
  float: left;
  padding: 5px;
  vertical-align: top;
}

line{
  stroke: grey;
  stroke-width: 2;
}

path {
  stroke-width: 1px;
  stroke: white;
  fill: #008080;
  cursor: pointer;
}

path:hover, path.highlighted {
  fill: #ff8000;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}
