body {
  font-family: "Quicksand", sans-serif;
  background-color: hsla(184, 43%, 57%, 0.75);
  margin:0%;
  padding: 5px;
}
.pageTitle{
  font-size: 24px;
  text-align: left;
  padding: 5px;
}
.pageTitle{
  font-size: 16px;
  text-align: left;
  padding: 5px;
}
a:link {
  color: grey;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}
a:visited { 
  color: grey;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}
a:hover {
  color: grey;
  padding: 5px;
  font-size: 12px;
}
a:active {
  color: grey;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}

.border{
        background-color: hsla(184, 43%, 57%, 0.75);
        height: 75px;
        margin:0%;
        color: white;
        padding: 5px;
        text-align: left;
        font-size: 12px;
}      
.pageTitle{
  font-size: 24px;
  text-align: left;
  padding: 5px;
}
svg {
  background-color: hsla(184, 43%, 57%, 0.25);
  cursor: default; -
  webkit-user-select: none; -
  moz-user-select: none; -
  ms-user-select: none; -
  o-user-select: none;
  user-select: none;
}

svg: not(.active): not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: # 000!important;
  stroke - width: 2.5 px;
}

text {
  font: 9 px sans - serif;
  pointer - events: none;
}

text.id {
  text - anchor: middle;
  font - weight: bold;
}
