html {
  font-size: 20px;
  font-family: "Lobster", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Play", sans-serif;
  font-family: Cookie, cursive;
  }
body {
  font-family: Lobster, cursive;
  color: Dark Orange;
}
  
  
