.first_page{
        font-family: "Raleway", sans-serif;
        background-color: hsla(184, 43%, 57%, 0.75);
}       

.header{
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 1px 5px teal;
        text-align: center;
}

.image{
        display: block;
        margin:0 auto;
        width: 200px;
        height: 200px;
        border: 5px solid gray;
        padding: 5px, 5px, 5px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
}

.exercise {
        font-size: 15px;
        font-weight: bold;
        color: teal;
        text-align: center;
}
.squares{
        font-family: 'helvetica', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }

canvas {
        border: 1px solid hsl(0,10%,90%);
        width: auto;
        height: 50%;
}
.top{
        background-color: teal;
        height: 100px;
}       

.bottom{
        background-color: teal;
        height: 100px;
}       
