.first_page{
        font-family: "Raleway", sans-serif;
        background-color: hsla(184, 43%, 57%, 0.75);
}       

.header{
        font-size: 30px;
        color: silver;
        text-shadow: 2px 1px 5px teal;
        text-align: center;
}

.image{
        float: center;
        margin-bottom: 5px;
        margin-right: 15px;
        height: 50px;
        max-width: 100%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
}

.squares{
        font-family: 'helvetica', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }

canvas {
        border: 1px solid hsl(0,10%,90%);
        width: auto;
        height: 50%;
}

