* {
  box-sizing: border-box;
}
body {
  margin: 4em;
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
  color: #3BCEAC;
  background-color: hsl(120,3%,73%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


canvas {
  border: 1px solid black;
  background-color: lightgrey;
}

.horizontal-bar {
  width: 500px;
  display: flex;
  padding: 1em;
  background-color: hsl(0,0%,10%);
  justify-content: space-between;
  justify-self: stretch;
  color: #3BCEAC;
}
